body { 
  font-family: "Gentona", "Quadon", sans-serif;
  background-color: #fdf6e3; /* Solarized base3 */
}

a, h1, h2 { color: #377ba8; }
h1, h2 { margin: 0; }
h1 { border-bottom: 2px solid #eee; }
h2 { font-size: 1.2em; }
table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

th {
    background-color: #ffd699;
    color: #000080;
}

tr:nth-child(odd)   { background-color:#e6f2ff; }
tr:nth-child(even)	{ background-color:#99c2ff; }

tr:hover            { background-color: #009900;}
