<!-- Kyle Chesney, 2017 -->

<!doctype html>
<title>Rhines Search</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body>
  <div class="search">
    <h1>Materials Science Inventory Search</h1>
    <h2>Enter search:</h2>
    <form type="submit" method="post">
        <select multiple name="sub_db">
          <option value="chem" checked>Chemicals</input>
          <option value="stock">Stock</input>
          <option value="equip">Equipment</input>
        </select>
      <br><br>
      <div id="searchbox">
        <input type="text" name="phrase">
      </div>
    </form>
    <br>
  </div>
<div class="table_result">
  {% for table in tables %}
    {{ table|safe }}
  {% endfor %}
</div>
</body>
