<!-- Kyle Chesney, 2017 -->

<!doctype html>
<title>Rhines Search</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body>
  <div class="search">
    <h1>Materials Science Inventory Search</h1>
    <form type="submit" method="post">
      <h2>Categories:</h2>
      <input type="checkbox" name="sub_db" value="chemicals" checked>Chemicals</input>
      <input type="checkbox" name="sub_db" value="stock" checked>Stock</input>
      <input type="checkbox" name="sub_db" value="equipment" checked>Equipment</input>
      <br><br> 
      <div id="searchbox">
        <h2>Enter search:</h2>
        <input type="text" name="phrase">
      </div>
    </form>
    <br>
  </div>
<div class="table_result">
  {% for table in tables %}
    {{ table|safe }}
  {% endfor %}
</div>
</body>
